edge-tts
pygame
SpeechRecognition
homeassistant-api
yt-dlp
youtube-search-python
pyjokes
wikipedia
webcolors
openwakeword
pyaudio
opencv-python
google-genai
pillow
pandas
numpy
groq
python-dotenv
requests
